/* general */
html,
body {
	height: 100%
}

body {
	padding: 0;
	color: #000;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 0.93px;
	background-color: #fff;
	font-weight: normal;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	&.active {
		opacity: 1!important;
	}
}

a {
	color: #000;

	&:hover {
		text-decoration: none;
		color: #000;
	}
}

a,
input[type=submit],
a span,
.button {
	@include transition(.2s)
}

p,
li {
	color: #000;
	font-size: 16px;
	line-height: 28px;
	margin: 0 0 25px
}

p a,
li a {
	text-decoration: none;
	color: #000
}

p a:hover,
li a:hover {
	text-decoration: none
}

ul {
	margin-bottom: 25px
}

li {
	margin: 0
}

img {
	max-width: 100%;
	height: auto
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Crimson Text', sans-serif;
	font-size: 26px;
	line-height: 1.2;
	color: #000;
	margin: 0 0 20px
}

h1 {
	font-size: 75px;
	letter-spacing: 2.98px;
	line-height: 75px;
	@media all and (max-width: 767px) {
		font-size: 47px;
		line-height: 44px;
	}
}

h2 {
	font-family: 'Crimson Text', sans-serif;
	font-size: 65px;
	letter-spacing: 2.58px;
	line-height: 75px;

	@media all and (max-width: 767px) {
		font-size: 47px;
		line-height: 44px;
	}
}

strong {
	font-weight: 700
}

figure {
	padding: 0;
	margin: 0
}

.center {
	text-align: center
}

.alignleft {
	float: left;
	margin: 0 15px 15px 0
}

.alignright {
	float: right;
	margin: 0 0 15px 15px
}

.right {
	float: right
}

.left {
	float: left
}

.full {
	width: 100%;
	height: auto
}

address {
	font-style: normal
}

del {
	opacity: 1 !important
}

ins {
	text-decoration: none
}

/* general elements */

.btn {
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.16);
	border-radius: 5px;
	background: black;
	color: white !important;
	font-size: 13px;
	text-align: center;
	display: block;
	width: 100%;
	max-width: 300px;
	padding: 15px;
}

.container-fluid {
	padding-left: 30px;
	padding-right: 30px;
}

.wide-title {
	max-width: 1114px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	.title {
		padding: 60px 40px;
		font-family: 'Crimson Text', sans-serif;
		font-size: 25px;
		letter-spacing: 0.99px;
		text-align: center;
	}

	.line {
		flex: 0 0 30%;
		max-width: 30%;
		background: #979797;
		height: 1px;
	}
}

.content-wrap {
	margin-top: 107px;

	overflow: hidden;
	@media all and (max-width: 767px) {
		margin-top: 70px;
	}


&.notfound {
	width: 100%;
	height: 100vh;
	display: flex;
	background: white;
	align-items: center;
	justify-content: center;
}

	&.home-wrap {
		margin-top: 0;
	}
}

.sitemap-wrap {
	text-align: center;
	strong.wsp-category-title {
    display: none;
}
	ul {
		padding: 0;
		list-style-type: none;
	}
}