/*
----------------------
about-interview-sec-wrp
----------------------
*/
.about-interview-sec-wrp{
	height: 460px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background:url(../img/about-interview-sec-bg.jpg);
	position: relative;
	padding-top: 15px;
}
.about-interview-sec-wrp:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background:#000;
	opacity: 0.5;
}

.about-interview-sec-wrp .wide-title .title {
    text-transform: uppercase;
    color: #fff;
}
.about-interview-sec-wrp .wide-title .line {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 36.5%;
    max-width: 36.5%;
    background:#fff;
    height: 1px;
}
.about-interview-slider-wrp{
	max-width: 1075px;
	width: 100%;
	margin: 0 auto;
	padding-top: 10px;
}
.about-interview-slide-item{
	width: 33.3333%;
	float: left;
	padding: 0 12px;
}
.about-interview-slide-dsc{
	padding: 15px 28px 18px;
	border:1px solid#fff;
}
.about-interview-slide-dsc span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 10px;
	line-height: 12px;
	color: #BABABA;
	font-weight: 900;
	text-transform: uppercase;
	padding-bottom: 14px;
}
.about-interview-slide-dsc h3{
	font-size: 25px;
	line-height: 27px;
	color: #fff;
	font-weight: 600;
	margin-bottom: 6px;
}
.about-interview-slide-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 10px;
	line-height: 12px;
	color: #fff;
	font-weight: 700;
	position: relative;
	padding-right: 20px;
}
.about-interview-slide-dsc a:before {
    content: "";
    position: absolute;
    right: 0;
    top: -4px;
    background:url(../img/angle-icon.png);
    background-size: 10px 19px;
    width: 10px;
    height: 19px;
}
.about-interview-slide-dsc a:hover:before{
	background:url(../img/angle-icon-hover.png);
}


/*
---------------------------
ex-upcoming-slider-sec-wrp
---------------------------
*/
.ex-upcoming-slider-sec-wrp{
	padding-top: 15px;
}
.ex-upcoming-slider-sec-wrp .wide-title .title{
	text-transform: uppercase;
}
.ex-upcoming-slider-wrp{
	max-width: 1070px;
	width: 100%;
	margin: 0 auto;
}
.ex-upcoming-slide-two-part{
	display: flex;
	justify-content: center;
	align-items: center;
}
.ex-upcoming-slide-two-lft{
	width: 50%;
	float: right;
}
.ex-upcoming-slide-two-img{
	height: 370px !important;
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}
.ex-upcoming-slide-two-rgt{
	width: 50%;
	float: left;
	background:#000;
	padding: 55px 70px 45px;
}
.ex-upcoming-slide-two-dsc span{
	display: block;
	font-size: 11px;
	line-height: 13px;
	color: #fff;
	font-weight: 600;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.ex-upcoming-slide-two-title{
	font-size: 30px;
	line-height: 32px;
	color: #fff;
	font-weight: 600;
	margin-top: 25px;
	margin-bottom: 20px;
	display: block;
}
.ex-upcoming-slide-two-dsc > a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 13px;
	line-height: 15px;
	font-weight: 600;
	color: #fff;
	position: relative;
	padding-right: 35px;
}
.ex-upcoming-slide-two-dsc > a:before{
	content: "";
	position: absolute;
	right: 0;
	top: 3px;
	background:url(../img/ex-upcoming-arrows.png);
	background-repeat: no-repeat;
	background-size: 20px 9px;
	width: 20px;
	height: 9px;
}
.ex-upcoming-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 13px;
	line-height: 15px;
	font-weight: 600;
	color: #000;
	background:#fff;
	border-radius: 4px;
	max-width: 240px;
	width: 100%;
	height: 42px;
	text-align: center;
	padding: 15px 50px 12px;
	margin-top: 35px;
}
