/*
----------------------
about-interview-sec-wrp
----------------------
*/
.about-interview-sec-wrp{
	height: 460px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background:url(../img/about-interview-sec-bg.jpg);
	position: relative;
	padding-top: 15px;
}
.about-interview-sec-wrp:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background:#000;
	opacity: 0.5;
}
.ex-upcoming-slider .ex-upcoming-slide-item,
.AboutInterviewSlider .about-interview-slide-item{
	display: none;
}
.ex-upcoming-slider .ex-upcoming-slide-item:first-child,
.AboutInterviewSlider .about-interview-slide-item:first-child{
	display: block;
}
.ex-upcoming-slider.slick-initialized .ex-upcoming-slide-item,
.AboutInterviewSlider.slick-initialized .about-interview-slide-item{
	display: block;
}

.about-interview-sec-wrp .wide-title .title {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Crimson Text', sans-serif;
    font-weight: 400;
}
.about-interview-sec-wrp .wide-title .line {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 36.5%;
    max-width: 36.5%;
    background:#fff;
    height: 1px;
}
.about-interview-slider-wrp{
	max-width: 1075px;
	width: 100%;
	margin: 0 auto;
	padding-top: 10px;
}
.about-interview-slide-item{
	width: 33.3333%;
	float: left;
	padding: 0 12px;
}
.about-interview-slide-dsc{
	padding: 15px 28px 18px;
	border:1px solid#fff;
}
.about-interview-slide-dsc span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 10px;
	line-height: 12px;
	color: #BABABA;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 14px;
}
.about-interview-slide-dsc h3{
	font-size: 25px;
	line-height: 27px;
	color: #fff;
	font-weight: 600;
	margin-bottom: 6px;
	font-family: 'Crimson Text', sans-serif;
}
.about-interview-slide-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 10px;
	line-height: 12px;
	color: #fff;
	font-weight: 700;
	position: relative;
	padding-right: 20px;
}
.about-interview-slide-dsc a:before {
    content: "";
    position: absolute;
    right: 0;
    top: -4px;
    background:url(../img/angle-icon.png);
    background-size: 10px 19px;
    width: 10px;
    height: 19px;
}
.about-interview-slide-dsc a:hover:before{
	background:url(../img/angle-icon-hover.png);
}


/*
---------------------------
ex-upcoming-slider-sec-wrp
---------------------------
*/
.ex-upcoming-slider-sec-wrp {
    padding-top: 15px;
    padding-bottom: 50px;
}
.ex-upcoming-slider-sec-wrp .wide-title .title{
	text-transform: uppercase;
}
.ex-upcoming-slider-wrp{
	max-width: 1070px;
	width: 100%;
	margin: 0 auto;
}
.ex-upcoming-slide-two-part{
	height: 370px;
	position: relative;
}
.ex-upcoming-slide-two-lft{
	width: 50%;
	float: right;
	position: relative;
}
.ex-upcoming-slide-two-img{
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 370px;
}
.ex-upcoming-slide-two-rgt{
	width: 50%;
	float: left;
	background:#000;
	padding: 55px 70px 45px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}
.ex-upcoming-slide-two-dsc span{
	display: block;
	font-size: 11px;
	line-height: 13px;
	color: #fff;
	font-weight: 600;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.ex-upcoming-slide-two-title{
	font-size: 30px;
	line-height: 32px;
	color: #fff;
	font-weight: 600;
	margin-top: 25px;
	margin-bottom: 20px;
	display: block;
}
.ex-upcoming-slide-two-dsc > a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 13px;
	line-height: 15px;
	font-weight: 600;
	color: #fff;
	position: relative;
	padding-right: 35px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ex-upcoming-slide-two-dsc > a:before{
	content: "";
	position: absolute;
	right: 0;
	top: 3px;
	background:url(../img/ex-upcoming-arrows.png);
	background-repeat: no-repeat;
	background-size: 20px 9px;
	width: 20px;
	height: 9px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ex-upcoming-slide-two-dsc > a:hover{
	color: #47555e;
}
.ex-upcoming-slide-two-dsc > a:hover:before{
	right: -5px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ex-upcoming-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 13px;
	line-height: 15px;
	font-weight: 600;
	color: #000;
	background:#fff;
	border-radius: 4px;
	max-width: 240px;
	width: 100%;
	height: 42px;
	text-align: center;
	padding: 15px 50px 12px;
	margin-top: 35px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ex-upcoming-btn a:hover{
	background:#47555e;
}


/*
-------------------
pagination css
-------------------
*/
.ex-upcoming-slider .slick-dots,
.AboutInterviewSlider .slick-dots{
	display: inline-block;
	position: absolute;
	bottom: -105px;
}
.ex-upcoming-slider .slick-dots li{
	background:#000 !important;
}
.ex-upcoming-slider .slick-dots{
    display: inline-block;
    position: absolute;
    bottom: -43px;
}
.ex-upcoming-slider .slick-dots li,
.AboutInterviewSlider .slick-dots li{
	background-color: #fff;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	margin: 0 4px;
}
.ex-upcoming-slider .slick-dots li,
.ex-upcoming-slider .slick-dots li button,
.ex-upcoming-slider .slick-dots li button:before,
.AboutInterviewSlider .slick-dots li,
.AboutInterviewSlider .slick-dots li button,
.AboutInterviewSlider .slick-dots li button:before{
	width: 27px;
	height: 3px;
}
.ex-upcoming-slider .slick-dots li button:before,
.AboutInterviewSlider .slick-dots li button:before{
   content: none;
}
.ex-upcoming-slider .slick-dots li.slick-active,
.ex-upcoming-slider .slick-dots li:hover,
.AboutInterviewSlider .slick-dots li.slick-active,
.AboutInterviewSlider .slick-dots li:hover{
    opacity: 1;
    background-color: #47555e !important;
}

.ex-upcoming-slider-sec-wrp .wide-title .line {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30.8%;
    flex: 0 0 30.8%;
    max-width: 30.8%;
}


/*
-------------------
 Page css
-------------------
*/
.page-banner{
	padding-top: 100px;
}
.page-banner-controller{
	position: relative;
}
.page-banner-controller{
	height: 345px;
}
.page-banner-bg{
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	width: 100%;
	height: 100%;
}

.page-banner-des{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
}

.page-banner-title{
	font-size: 75px;
	font-weight: 600;
	display: block;
	margin: 0;
	color: #000;
	font-family: 'Crimson Text', sans-serif;
	text-align: center;
}
.page-banner-des p{
	font-size: 11px;
	line-height: 13px;
	color: #000;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}
.page-banner-des a {
    display: table;
    text-decoration: none;
    font-size: 11px;
    line-height: 13px;
    font-weight: 600;
    position: relative;
    padding-left: 29px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 7px;
}
.page-banner-des a:before{
	content: "";
	position: absolute;
	left: 0;
	top: 3px;
	background:url(../img/back-btn-arrow.png);
	background-repeat: no-repeat;
	background-size: 21px 10px;
	width: 21px;
	height: 10px;
}

/*
----------------------
al-post-grid-sec-wrp
----------------------
*/
.al-post-grid-sec-wrp{
	padding-top: 30px;
	padding-bottom: 75px;
}
.al-post-grid-block{
	max-width: 1040px;
	width: 100%;
	margin: 0 auto;
}
.al-post-grid-tabs-menu > ul{
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: table;
}
.al-post-grid-tabs-menu > ul > li{
	font-size: 21px;
	line-height: 23px;
	font-weight: 600;
	float: left;
}
.al-post-grid-tabs-menu > ul > li > a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	padding: 0 20px 18px;
	position: relative;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	font-family: 'Crimson Text', sans-serif;
}
.al-post-grid-tabs-menu > ul > li.active > a:after,
.al-post-grid-tabs-menu > ul > li > a:hover:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -3px;
	width: 100%;
	height: 3px;
	background:#000;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.al-post-grid-tabs-menu > ul > li > a:hover{
	color: #c6c6c6;
}
.al-post-grid-wrp{
	padding-top: 50px;
	border-top: 3px solid#D9D9D9;
}
.al-post-grid-inr ul{
	list-style: none;
	margin: 0 -7px;
	padding: 0;
}
.al-post-grid-inr ul li{
	width: 25%;
	float: left;
	padding: 0 7px 29px;
}
.al-post-grid-inr ul li:nth-child(4n+1){
	clear: left;
}
.al-post-grid-tabs{
	display: none;
}
.al-post-grid-img-overflow{
	position: relative;
	overflow: hidden;
}
.overlay-link{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
}
.al-post-grid-img{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	height: 255px !important;
}
.al-post-grid-dsc{
	padding: 20px 10px 29px;
}
.al-post-grid-dsc h5{
	margin: 0;
	font-size: 20px;
	line-height: 22px;
	font-weight: 600;
	color: #000;
	text-align: center;
	font-family: 'Crimson Text', sans-serif;
}
.al-post-grid-dsc h5 a{
	text-decoration: none;
	display: inline-block;
	vertical-align: baseline;
	color: inherit;
}
.al-post-grid-dsc h5:hover a{
	color: #c6c6c6 !important;
}



/*
----------------------
 artist-single-sec-wrp
----------------------
*/
.artist-single-sec-wrp{
	padding-top: 70px;
	padding-bottom: 110px;
}
.artist-single-dsc-wrp{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1070px;
	width: 100%;
	margin: 0 auto;
}
.artist-single-img{
	width: 35%;
	float: left;
	background-size: cover !important;
	background-position:center center !important;
	background-repeat: no-repeat !important;
	height: 470px !important;
}
.artist-single-dsc {
    width: 65%;
    float: right;
    padding-left: 35px;
    padding-top: 18px;
    padding-bottom: 10px;
}
.artist-single-title{
	font-size: 20px;
	line-height: 22px;
	font-weight: 600;
	font-family: 'Crimson Text', sans-serif;
	text-transform: uppercase;
}
.artist-single-dsc p{
	margin-bottom: 20px;
}
.gap-30{
	margin-bottom: 35px !important;
}
.artist-single-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 13px;
	line-height: 15px;
	font-weight: 600;
	position: relative;
	padding-right: 30px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.artist-single-dsc a:before{
	content: "";
	position: absolute;
	right: 0;
	top: 3px;
	background:url(../img/artist-single-black-arrows.png);
	background-repeat: no-repeat;
	background-size: 21px 10px;
	width: 21px;
	height: 10px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.artist-single-dsc a:hover:before{
	right: -5px;
}
.about-section2{
	padding-top: 130px;
	padding-bottom: 80px;
}

/*
----------------
 Responsive Css
----------------
*/

@media(max-width: 1199px){
	.ex-upcoming-slide-two-title {
	    font-size: 29px;
	    line-height: 31px;
	}
	.al-post-grid-sec-wrp {
	    padding-bottom: 60px;
	}
	.page-banner-title{
		font-size: 70px;
	}

}

@media(max-width: 991px){
	.about-interview-sec-wrp{
		height: 400px;
	}
	.ex-upcoming-slider-sec-wrp .wide-title .title,
	.about-interview-sec-wrp .wide-title .title {
	    padding: 40px 40px;
	    font-size: 24px;
	}
	.about-interview-sec-wrp .wide-title .line {
	    -ms-flex: 0 0 31.5%;
	    flex: 0 0 31.5%;
	    max-width: 31.5%;
	}
	.AboutInterviewSlider .slick-dots {
		 bottom: -90px;
	}
	.ex-upcoming-slide-two-rgt {
	    padding: 40px 30px 40px;
	}
	.ex-upcoming-slide-two-title {
	    font-size: 28px;
	    line-height: 30px;
	}	
	.ex-upcoming-slider-sec-wrp {
	    padding-bottom: 40px;
	}
	.al-post-grid-inr ul li {
	    width: 33.3333%;
	    padding: 0 7px 25px;
	}
	.al-post-grid-dsc {
	    padding: 20px 10px 25px;
	}
	.al-post-grid-inr ul li:nth-child(4n+1) {
	    clear: none;
	}
	.al-post-grid-inr ul li:nth-child(3n+1) {
	    clear: left;
	}
	.al-post-grid-sec-wrp {
	    padding-bottom: 50px;
	}
	.page-banner-title{
		font-size: 65px;
	}
	.artist-single-dsc {
	    padding-left: 15px;
	    padding-top: 15px;
	}
	.gap-30 {
	    margin-bottom: 20px !important;
	}
	.artist-single-dsc p {
	    margin-bottom: 10px;
	}
	.artist-single-title {
	    margin-bottom: 10px;
	}
	.artist-single-sec-wrp {
	    padding-top: 50px;
	    padding-bottom: 85px;
	}

@media(max-width: 767px){
	.about-interview-slide-dsc {
	    padding: 15px 15px 18px;
	}
	.about-interview-sec-wrp .wide-title .line {
	    -ms-flex: 0 0 28%;
	    flex: 0 0 28%;
	    max-width: 28%;
	}
	.ex-upcoming-slider-sec-wrp .wide-title .title,
	.about-interview-sec-wrp .wide-title .title {
	    padding: 40px 25px;
	    font-size: 23px;
	}
	.ex-upcoming-slide-two-title {
	    font-size: 27px;
	    line-height: 29px;
	    margin-top: 20px;
	    margin-bottom: 15px;
	}
	.ex-upcoming-btn a{
		margin-top: 25px;
	}
	.ex-upcoming-slide-two-rgt {
	    padding: 35px 20px 35px;
	}	
	.ex-upcoming-slider-sec-wrp {
	    padding-bottom: 30px;
	}
	.al-post-grid-inr ul li {
	    width: 50%;
	    padding: 0 7px 20px;
	}
	.al-post-grid-dsc {
	    padding: 20px 10px 20px;
	}
	.al-post-grid-inr ul li:nth-child(3n+1) {
	    clear: none;
	}
	.al-post-grid-inr ul li:nth-child(2n+1) {
	    clear: left;
	}
	.al-post-grid-tabs-menu > ul > li {
	    font-size: 20px;
	    line-height: 22px;
	}
	.al-post-grid-wrp {
	    padding-top: 40px;
	}
	.al-post-grid-sec-wrp {
	    padding-bottom: 30px;
	}
	.page-banner-title{
		font-size: 60px;
	}
	.artist-single-img {
	    width: 100%;
	    height: 440px !important;
	}
	.artist-single-dsc-wrp {
	    display: block;
	}
	.artist-single-dsc {
	    width: 100%;
	    float: right;
	    padding-left: 0;
	    padding-top: 30px;
	}
	.artist-single-sec-wrp {
	    padding-top: 50px;
	    padding-bottom: 70px;
	}

}

@media(max-width: 575px){
	.about-interview-sec-wrp {
	    height: 360px;
	}
	.AboutInterviewSlider .slick-dots {
	    bottom: -60px;
	}
	.ex-upcoming-slider-sec-wrp .wide-title .title,
	.about-interview-sec-wrp .wide-title .title {
	    font-size: 22px;
	}
	.ex-upcoming-slide-two-title {
	    font-size: 26px;
	    line-height: 28px;
	}
	.ex-upcoming-slide-two-lft {
	    width: 100%;
	    float: right;
	}	
	.ex-upcoming-slide-two-img{
		position: static;
		height: 350px;
	}
	.ex-upcoming-slide-two-rgt{
		width: 100%;
		position: static;
	}
	.al-post-grid-dsc h5 {
	    font-size: 18px;
	    line-height: 20px;
	}
	.al-post-grid-tabs-menu > ul > li > a {
	    padding: 0 15px 18px;
	}
	.al-post-grid-tabs-menu > ul > li {
	    font-size: 19px;
	    line-height: 21px;
	}
	.page-banner-title{
		font-size: 55px;
	}
	.artist-single-img {
	    width: 100%;
	    height: 400px !important;
	}
}

@media(max-width: 479px){
	.ex-upcoming-slider-sec-wrp .wide-title .title,
	.about-interview-sec-wrp .wide-title .title {
	    padding: 30px 20px;
	    font-size: 20px;
	}
	.about-interview-sec-wrp .wide-title .line {
	    -ms-flex: 0 0 25%;
	    flex: 0 0 25%;
	    max-width: 25%;
	}
	.ex-upcoming-slide-two-title {
	    font-size: 25px;
	    line-height: 27px;
	}
	.ex-upcoming-slide-two-img{
		height: 300px;
	}
	.ex-upcoming-slider-sec-wrp .wide-title .line {
	    -ms-flex: 0 0 25%;
	    flex: 0 0 25%;
	    max-width: 25%;
	}
	.al-post-grid-inr ul li{
	    width: 100%;
	}
	.al-post-grid-inr ul li:nth-child(2n+1) {
	    clear: none;
	}
	.al-post-grid-tabs-menu > ul > li {
	    font-size: 17px;
	    line-height: 19px;
	}
	.al-post-grid-tabs-menu > ul > li > a {
	    padding: 0 6px 15px;
	}
	.page-banner-title{
		font-size: 50px;
	}
	.artist-single-img {
	    height: 350px !important;
	}
}

@media(max-width: 359px){

}