/*
----------------------
 art-post-grid-sec-wrp
----------------------
*/
.art-post-grid-sec-wrp{
	padding-top: 40px;
	padding-bottom: 200px;
}
.art-post-grid-block{
	max-width: 1250px;
	width: 100%;
	margin: 0 auto;
}
.art-post-grid-block .filter-rgt {
    float: right !important;
    width: 100% !important;
}
.art-post-grid-block .fl-filter-cntlr .drop-filter {
    margin-bottom: 28px !important;
    float: right !important;
    margin-right: 10px !important;
}
.art-post-grid-wrp ul{
	list-style: none;
	margin: 0 -15px;
	padding: 0;
}
.art-post-grid-wrp ul li{
	float: left;
	width: 33.3333%;
	padding: 0 15px 70px;
}
.art-post-grid-img{
	height: 273px !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	position: relative;
}
.art-post-grid-dsc{
	padding: 10px 30px 15px 30px;
	position: relative;
	letter-spacing: 0.3px;
}
.art-post-grid-dsc:after{
	content: "";
	position: absolute;
	left: 15px;
	bottom: 0;
	width: 1px;
	height:222px;
	background: #000;
}
.art-post-grid-dsc span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 11px;
	line-height: 13px;
	color: #000;
	font-weight: 400;
	padding-bottom: 13px;
}
.art-post-grid-tilte{
	font-size: 18px;
	line-height: 22px;
	font-family: 'CrimsonText-Bold';
	margin-bottom: 15px;
}
.art-post-grid-tilte a{
	color: inherit;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.art-post-grid-tilte a:hover{
	color: #c6c6c6;
}
.art-post-grid-dsc p{
	font-size: 12px;
	line-height: 22px;
	font-weight: 400;
	margin: 0;
	letter-spacing: 0.3 !important;
}
.art-load-more-btn{
	text-align: center;
}
.art-load-more-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 38px;
	position: relative;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.art-load-more-btn a:after{
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	background: url(../img/down-arrow-fl-more.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 10px 21px;
	width: 10px;
	height: 21px;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.art-load-more-btn a:hover:after{
	bottom: -5px;
}
.art-load-more-btn a:hover{
	color: #c6c6c6;
}


/*
----------------------------
art-article-content-sec-wrp
----------------------------
*/
.art-article-content-block{
	max-width: 1130px;
	width: 100%;
	margin: 0 auto;
	padding: 55px 65px 55px;
	background:#fff;
}
.art-article-fl-img{
	height: 445px !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
}
.art-article-dsc{
	padding: 60px 40px 20px;
}
.art-article-dsc p{
	font-size: 16px;
	line-height: 34px;
	margin-bottom: 35px;
}


@media(max-width: 1399px){
	.art-post-grid-dsc p br{
		display: none;
	}
}
@media(max-width: 1199px){
	.art-post-grid-dsc {
	    padding: 10px 20px 15px 30px;
	}
	.art-post-grid-sec-wrp {
	    padding-bottom: 170px;
	}
	.art-post-grid-tilte a br{
		display: none;
	}
}


@media(max-width: 991px){
	.art-post-grid-wrp ul li {
	    width: 50%;
	    padding: 0 15px 40px;
	}
	.art-post-grid-sec-wrp {
	    padding-bottom: 140px;
	}
}

@media(max-width: 767px){
	.art-post-grid-sec-wrp {
	    padding-bottom: 110px;
	}
	.art-post-grid-wrp ul li {
	    width: 100%;
	    padding: 0 15px 60px;
	}
	.art-post-grid-dsc:after{
		height: 185px;
	}
}

@media(max-width: 639px){
	
}

@media(max-width: 479px){
	.art-post-grid-sec-wrp {
	    padding-bottom: 90px;
	}
	.art-post-grid-dsc:after {
	    top: 0;
	    bottom: 0;
	    height: 100%;
	}

}

@media(max-width: 359px){
	
}