/*
----------------------
 art-post-grid-sec-wrp
----------------------
*/
.art-post-grid-sec-wrp{
	padding-top: 40px;
	padding-bottom: 200px;
}
.art-post-grid-block{
	max-width: 1250px;
	width: 100%;
	margin: 0 auto;
}
.art-post-grid-block .filter-rgt {
    float: right !important;
    width: 100% !important;
}
.art-post-grid-block .fl-filter-cntlr .drop-filter {
    margin-bottom: 28px !important;
    float: right !important;
    margin-right: 10px !important;
}
.art-post-grid-wrp ul{
	list-style: none;
	margin: 0 -15px;
	padding: 0;
}
.art-post-grid-wrp ul li{
	float: left;
	width: 33.3333%;
	padding: 0 15px 70px;
}
.art-post-grid-img{
	height: 273px !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	position: relative;
}
.art-post-grid-dsc{
	padding: 10px 30px 15px 30px;
	position: relative;
	letter-spacing: 0.3px;
}
.art-post-grid-dsc:after{
	content: "";
	position: absolute;
	left: 15px;
	bottom: 0;
	width: 1px;
	height:222px;
	background: #000;
}
.art-post-grid-dsc span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 11px;
	line-height: 13px;
	color: #000;
	font-weight: 400;
	padding-bottom: 13px;
}
.art-post-grid-tilte{
	font-size: 18px;
	line-height: 22px;
	font-family: 'CrimsonText-Bold';
	margin-bottom: 15px;
}
.art-post-grid-tilte a{
	color: inherit;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.art-post-grid-tilte a:hover{
	color: #c6c6c6;
}
.art-post-grid-dsc p{
	font-size: 12px;
	line-height: 22px;
	font-weight: 400;
	margin: 0;
	letter-spacing: 0.3 !important;
}
.art-load-more-btn{
	text-align: center;
}
.art-load-more-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 38px;
	position: relative;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.art-load-more-btn a:after{
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	background: url(../img/down-arrow-fl-more.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 10px 21px;
	width: 10px;
	height: 21px;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.art-load-more-btn a:hover:after{
	bottom: -5px;
}
.art-load-more-btn a:hover{
	color: #c6c6c6;
}


/*
----------------------------
art-article-content-sec-wrp
----------------------------
*/
.art-article-content-sec-wrp{
	margin-top: -90px;
}
.art-article-content-block{
	max-width: 1130px;
	width: 100%;
	margin: 0 auto;
	padding: 55px 65px 55px;
	background:#fff;
}
.art-article-fl-img{
	height: 445px !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
}
.art-article-dsc{
	padding: 60px 40px 20px;
}
.art-article-dsc p{
	font-size: 16px;
	line-height: 34px;
	margin-bottom: 35px;
}
.art-article-gallery-wrp{
	margin: 0 -10px;
}
.art-article-gallery-grid{
	float: left;
	width: 33.3333%;
	padding: 0 10px;
}
.art-article-gallery-img{
	height: 260px !important;
	background-position: center center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}
.art-article-share{
	padding-left: 40px;
	padding-top: 35px;
}
.art-article-share strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 18px;
	font-family: 'CrimsonText-Regular';
	padding-right: 20px;
}
.art-article-share a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	color: #000;
	padding: 0 14px;
}

/*
---------------------------
read-also-post-grid-sec-wrp
---------------------------
*/
.read-also-post-grid-sec-wrp{
	background:#f7f7f7;
	padding-bottom: 70px;
	padding-top: 20px;
}
.read-also-post-grid-sec-wrp .art-post-grid-wrp{
	max-width: 1220px;
	width: 100%;
	margin: 0 auto;
}
.read-also-post-grid-sec-wrp .wide-title{
	max-width: 1220px;
	width: 100%;
	text-transform: uppercase;
}
.read-also-post-grid-sec-wrp .wide-title .line {
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
}
.read-also-post-grid-sec-wrp .art-post-grid-wrp ul li {
    padding-bottom: 60px;
}
.read-also-post-grid-sec-wrp .art-load-more-btn a{
	padding-bottom: 0;
	font-size: 13px;
	line-height: 15px;
	max-width: 252px;
	width: 100%;
	background:#000;
	color: #fff;
	border-radius: 5px;
	padding: 20px 20px;
}
.read-also-post-grid-sec-wrp .art-load-more-btn a:hover{
	background:#c6c6c6;
}
.read-also-post-grid-sec-wrp .art-load-more-btn a:after{
	content: none;
}


@media(max-width: 1399px){
	.art-post-grid-dsc p br{
		display: none;
	}
}
@media(max-width: 1199px){
	.art-post-grid-dsc {
	    padding: 10px 20px 15px 30px;
	}
	.art-post-grid-sec-wrp {
	    padding-bottom: 170px;
	}
	.art-post-grid-tilte a br{
		display: none;
	}
}


@media(max-width: 991px){
	.art-post-grid-wrp ul li {
	    width: 50%;
	    padding: 0 15px 40px;
	}
	.art-post-grid-sec-wrp {
	    padding-bottom: 140px;
	}
	.art-article-content-block {
	    padding: 55px 40px 55px;
	}
	.art-article-dsc {
	    padding: 50px 30px 20px;
	}
	.art-article-gallery-grid {
	    width: 50%;
	    padding: 0 10px 15px;
	}
	.art-article-dsc p {
	    margin-bottom: 25px;
	}
	.art-article-share {
	    padding-left: 30px;
	    padding-top: 20px;
	}
}

@media(max-width: 767px){
	.art-post-grid-sec-wrp {
	    padding-bottom: 110px;
	}
	.art-post-grid-wrp ul li {
	    width: 100%;
	    padding: 0 15px 60px;
	}
	.art-post-grid-dsc:after{
		height: 185px;
	}
	.art-article-content-sec-wrp {
	    margin-top: -60px;
	}
	.art-article-gallery-grid {
	    width: 100%;
	    padding: 0 10px 15px;
	}
	.art-article-content-block {
	    padding: 40px 20px 40px;
	}
	.art-article-dsc {
	    padding: 35px 15px 20px;
	}
	.art-article-share {
	    padding-left: 15px;
	    padding-top: 10px;
	}
	.art-article-fl-img {
	    height: 380px !important;
	}
	.read-also-post-grid-sec-wrp{
		padding-bottom: 50px;
	}
}

@media(max-width: 639px){
	
}

@media(max-width: 479px){
	.art-post-grid-sec-wrp {
	    padding-bottom: 90px;
	}
	.art-post-grid-dsc:after {
	    top: 0;
	    bottom: 0;
	    height: 100%;
	}
	.read-also-post-grid-sec-wrp .wide-title .title {
	    padding: 40px 20px;
	}
	.art-article-content-block {
	    padding: 40px 10px 40px;
	}
	.art-article-fl-img {
	    height: 350px !important;
	}
	.art-article-dsc {
	    padding: 30px 10px 20px;
	}
	.art-article-share strong {
	    padding-right: 0;
	    padding-bottom: 15px;
	    display: block;
	}
	.art-article-share a:first-of-type{
		padding-left: 0;
	}
	.art-article-share{
		padding-top: 0;
	}

}

@media(max-width: 359px){
	
}