/*
-------------------
 New Css
-------------------
*/
.exhibitions-archive-page section.upcoming-exhibitions,
.exhibitions-archive-page section.next-exhibition{
	height: 580px;
}
.exhibitions-archive-page section.next-exhibition .row .image-col,
.exhibitions-archive-page section.upcoming-exhibitions .row .image-col{
	padding-right: 60px;
}
.exhibitions-archive-page section.next-exhibition .row .image-col img,
.exhibitions-archive-page section.upcoming-exhibitions .row .image-col img{
	width: 100%;
	height: 580px;
}
.exhibitions-archive-page section.next-exhibition .row .text-col,
.exhibitions-archive-page section.upcoming-exhibitions .row .text-col{
    padding: 20px 275px 30px 30px;
}
.exhibitions-archive-page section.next-exhibition .row .text-col .titles h1,
.exhibitions-archive-page section.next-exhibition .row .text-col .titles h1{
	line-height: 72px;
}
.exhibitions-archive-page section.next-exhibition .row .text-col .titles,
.exhibitions-archive-page section.upcoming-exhibitions .row .text-col .titles {
    margin-bottom: 45px;
}
@media(max-width: 1399px){
	.exhibitions-archive-page section.upcoming-exhibitions .row .text-col,
	.exhibitions-archive-page section.next-exhibition .row .text-col {
	    padding: 20px 165px 30px 30px;
	}
}

@media(max-width: 1199px){
	section.global-exhibitions .title {
	    padding-left: 90px;
	    padding-right: 90px;
	}
	.wide-title .title{
		font-size: 24px;
	}
	.exhibitions-archive-page section.next-exhibition .row .text-col,
	.exhibitions-archive-page section.upcoming-exhibitions .row .text-col{
	    padding: 20px 90px 30px 30px;
	}
	.exhibitions-archive-page section.next-exhibition .row .text-col .titles h1,
	.exhibitions-archive-page section.next-exhibition .row .text-col .titles h1 {
	    line-height: 50px;
	    font-size: 47px;
	}
	.exhibitions-archive-page section.upcoming-exhibitions,
	.exhibitions-archive-page section.next-exhibition {
	    height: 500px;
	}
	.exhibitions-archive-page section.next-exhibition .row .image-col img,
	.exhibitions-archive-page section.upcoming-exhibitions .row .image-col img {
	    height: 500px;
	}
	
}
@media(max-width: 991px){
	section.global-exhibitions .title {
	    padding-left: 50px;
	    padding-right: 50px;
	}
	.wide-title .title {
	    padding: 40px 30px;
	}
	.previous-exhibitions .img-wrap img,
	section.global-exhibitions .img-wrap img{
		width: 100% !important;
	}
	.previous-exhibitions .img-wrap,
	section.global-exhibitions .img-wrap{
		padding-left: 15px;
		padding-right: 15px;
	}
	.wide-title .title{
		font-size: 23px;
	}
	.wide-title {
	    max-width: 746px;
	}
	.exhibitions-archive-page section.next-exhibition .row .text-col,
	.exhibitions-archive-page section.upcoming-exhibitions .row .text-col {
	    padding: 20px 30px 30px 20px;
	}
	.exhibitions-archive-page section.next-exhibition .row .image-col,
	.exhibitions-archive-page section.upcoming-exhibitions .row .image-col {
	    padding-right: 20px;
	}
	
}
@media(max-width: 806px){
	div.content-wrap.about-wrap section.about-section1 .bg-overlay{
		top: -20px;
	}
}
@media(max-width: 767px){
	.global-exhibitions .title {
      	padding: 40px 20px !important;
	  }
	  .global-exhibitions .wide-title .line {
	      -ms-flex: 0 0 27%;
	      flex: 0 0 27%;
	      max-width: 27%;
	  }
	.previous-exhibitions .wide-title .title {
	    padding: 40px 20px;
	}
	.wide-title {
	    max-width: 530px;
	}
	.wide-title .title{
		font-size: 21px;
	}
	.exhibitions-archive-page section.upcoming-exhibitions,
	.exhibitions-archive-page section.next-exhibition {
	    height: auto;
	}
	.exhibitions-archive-page section.next-exhibition .row .image-col,
	.exhibitions-archive-page section.upcoming-exhibitions .row .image-col{
	    padding-right: 15px;
	    padding-top: 30px;
	}
	.exhibitions-archive-page section.next-exhibition .row .image-col img,
	.exhibitions-archive-page section.upcoming-exhibitions .row .image-col img {
	    height: auto;
	}
	.exhibitions-archive-page section.next-exhibition .row .text-col,
	.exhibitions-archive-page section.upcoming-exhibitions .row .text-col {
	    padding: 10px 15px 30px 15px;
	}
	.exhibitions-archive-page section.next-exhibition .row .text-col .titles,
	.exhibitions-archive-page section.upcoming-exhibitions .row .text-col .titles {
	    margin-bottom: 40px;
	}
   
}
@media(max-width: 575px){
	.wide-title .title{
		font-size: 21px;
	}
	.wide-title {
	    max-width: 430px;
	}
}
@media(max-width: 479px){
	.previous-exhibitions .wide-title .title {
	    padding: 30px 20px;
	}
	.wide-title {
	    max-width: 290px;
	}
}
@media(max-width: 360px){
	.wide-title {
	    max-width: 220px;
	}
}