body.home .masthead{
	border-bottom: none;
}

section.page-title .container-fluid .readmore span{
	display: inline-block;
	vertical-align: baseline;
	padding-right: 35px;
	position: relative;
}
section.page-title .container-fluid .readmore span svg{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	right: 0;
}
section.page-title .container-fluid .readmore:hover span svg{
	right: -3px;
}

body.privacy-policy .content-wrap{
	padding: 50px 0 70px; 
}
body.privacy-policy .content-wrap h1{
	font-size: 45px;
	line-height: 1;
}


@media(max-width: 767px){
	body.privacy-policy .content-wrap h1{
		font-size: 40px;
	}
}



.hdr-cart{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.hdr-cart a{
	position: relative;
}
.hdr-cart a span {
    position: absolute;
    top: -10px;
    right: -15px;
    width: 20px;
    height: 20px;
    background: #000;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100% 100%;
}