
body.single-product .content-area .product .backbtn{
	padding-top: 55px;
	padding-bottom: 35px;
}
.thumbnail-items {
    float: left;
    width: 18%;
    padding-right: 2%;
}

.product-gallery-img {
    width: 70%;
    float: left;
}

.thumbnail-item {
    margin-bottom: 10px;
}

body .woocommerce-product-gallery {
    width: 60% !important;
}

.summary.entry-summary {
    width: 40% !important;
}
.related-products{
	position: relative;
}
.pro-details-pro-title{
	border-bottom: 1px solid #D2D2D2;
	padding-bottom: 15px;
	margin-bottom: 25px;
}
.pro-details-pro-title > strong{
	font-weight: normal;
	font-family: 'CrimsonText-Regular';
	display: block;
	font-size: 30px;
	line-height: 35px;
	margin-bottom: 15px;
}
.pro-details-pro-title span{
	display: block;
	font-size: 13px;
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-bottom: 15px;
}
.description{
	padding-bottom: 35px;
}
.description > h2{
	font-weight: normal;
	font-size: 16px;
	line-height: 1;
	margin-bottom: 15px;
	display: block;
	text-transform: uppercase;
	font-family: 'CrimsonText-Regular';
}
.description p{
	font-size: 12px;
	line-height: 21px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
}
.wc-attributes{
	padding-bottom: 35px;
	border-bottom: 1px solid #D2D2D2;
	margin-bottom: 40px;
}
.wc-attributes span{
	display: block;
	font-size: 13px;
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
}
.wc-attributes span strong{
	font-weight: normal;
	display: inline-block;
	vertical-align: baseline;
	font-size: 13px;
	line-height: 1;
	font-family: 'CrimsonText-Regular';
	min-width: 91px;
	text-transform: uppercase;
}

.price-purchase > a{
	border: 2px solid #000;
	border-radius: 4px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 35px;
    box-shadow: none!important;
}
.price-purchase > a:hover{
	background: transparent;
	color: #000!important;
	border-color: #000!important;
}
.single-product .wide-title .title{
	text-transform: uppercase;
}

.related-products{
	margin-bottom: 100px;
}

.fl-social-icons{
	display: flex;
	align-items: center;
}
.fl-social-icons strong{
	font-weight: normal;
	font-family: 'CrimsonText-Regular';
	color: #3C3C3C;
	font-size: 16px;
	line-height: 1;
	display: inline-block;
	vertical-align: baseline;
}
.fl-social-icons ul{
	padding-left: 35px;
}
.fl-social-icons ul li{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 20px;
}
.fl-social-icons ul li:last-child{
	margin-right: 0;
}
.fl-social-icons ul li a:hover{
	opacity: .9;
}
.pricehtml{
	margin-bottom: 25px;
}

.single-product .pricehtml strong {
    font-weight: normal;
    display: inline-block;
    vertical-align: baseline;
    font-size: 13px;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    min-width: 55px;
}

.single-product .pricehtml  .woocommerce-Price-amount.amount{
	font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 15px;
    line-height: 1;
}
.backbtn{
	padding-left: 140px;
}
.backbtn a{
	padding-left: 30px;
	position: relative;
}
.backbtn a span{
	padding-left: 5px;
}
.backbtn a img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	left: 0;
}
.backbtn a:hover img{
	left: -3px;
}

.price-purchase button.btn{
	margin-bottom: 35px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 1px;
	border-radius: 4px;
	min-height: 50px;
	padding: 5px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: none!important;
	border: 2px solid #000;
}
.price-purchase button.btn:hover,
.fl-enquire-modal-content input[type="submit"]:hover{
	color: #000!important;
	background: transparent;
}